@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lato:wght@100;400&family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Kaushan+Script&family=Lato:wght@300;400&family=Montserrat:wght@400;700&family=Raleway:ital@1&family=Work+Sans&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* <!-- ------------------------------------Aiperi------------------------- --> */

.wrapper-ma {
  background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/1-agency/assets/img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.conteiner-ma {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  position: sticky;
  top: 2px;
}
.logo-ma a {
  display: block;
  color: #6166b3;
  text-transform: uppercase;
  font-size: 37px;
  padding: 3rem;
  position: sticky;
  top: 0px;
}
.logo-ma a:hover {
  color: rgb(171, 137, 202);
  cursor: pointer;
}

.sm-titel {
  color: #dddddd;
  text-decoration: none;
  padding-right: 70px;
  text-transform: uppercase;
  font-size: 20px;
}
.sm-titel:hover {
  color: rgb(171, 137, 202);
}
.conteiner-ma2 {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
.titel-bg {
  color: #dddddd;
}
.italic {
  font-family: "Raleway", sans-serif;
  padding-right: 100px;
  padding-left: 16rem;
}
.strong-bg {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 80px;
}
.btn-ma {
  padding-left: 16rem;
  background-color: #6166b3;
  color: white;
  padding: 18px;
  text-decoration: none;
  margin-left: 25rem;
  border-radius: 10px;
}
.btn-ma:hover {
  background-color: #dddddd;
  color: rgb(121, 91, 150);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .conteiner-ma {
    display: flex;
    flex-direction: column;
  }
  .sm-titel {
    display: block;
    padding: 0.8rem 50rem;
    font-size: 25px;
    text-align: center;
  }
  .conteiner-ma2 {
    margin: 2rem auto;
  }
  .strong-bg {
    text-align: center;
    padding: 5px;
  }
  .btn-ma {
    display: block;
    margin: 5rem 5rem;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .italic {
    padding: 0 60px;
  }
  .strong-bg {
    font-size: 44px;
    padding-top: 45px;
  }

}

/* ---------------Oxana's part --------------- */

.box-oy {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
  }

  .serv {
      text-align: center;
      font-size: 38px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-bottom: 15px;
  }

  .descript {
      text-align: center;
      font-style: italic;
      color: gray;
      font-size: 17px;
  }

  .boxes-oy {
      display: flex;
      margin-top: 30px;

  }

  .img-oy {
      width: 120px;
  }

  .hoy {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    margin-bottom: 25px;
  }

  .light {
      color: gray;
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      line-height: 28px;
  }

  @media (max-width:480px), (max-width:768px) {
        .boxes-oy {
        display: flex;
        flex-direction: column;
      }
  }

/* <!-- ------------------------------------Zarina------------------------- --> */


.portfolio{    
    width: 100%;        
    position: relative;
    background-color: #f8f9fa; 
    padding-top: 6rem; 
    margin-left: auto;
    margin-right: auto;
}
.za-container{
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;    
}
.portfolio p{
    font-style: italic; 
    color: rgba(128, 128, 128, 0.952);
    margin-top: 0;
}
.za-main-text h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.za-boxes{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items:center;
    justify-content: center;
    padding: 10px 10px;
    margin-top: 40px;

}

.za-box{
    width: 26%;
    background-color: white;
    box-sizing: border-box;
    margin: 10px 10px;
}
.za-boxes .za-box img{
    width: 100%;
    background-color: none;
}
/* .portfolio-icon{
    display: block;
} */
.potfolio-img{
    position: relative;

}
.potfolio-img i{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   display: none;
   font-size: 4rem;
   /* opacity: 0.7; */
}
.za-bg-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 209, 54, 0.9);
    z-index: -1;
}
.za-box:hover .za-bg-color{
    z-index: 2;
    cursor: pointer;
}
.za-box:hover .potfolio-img i{
    display: block;
    z-index: 3;
    cursor: pointer;
}
/* .boxes .box img::selection{
    background-color: orange;
}  */


@media screen and (max-width: 375px) {
    .za-boxes{
        flex-direction: column;
        flex: 75%;
        }
}
@media screen and (max-width: 768px) {
    
    .za-box{
        flex: 45%;
    }
}



/* <!-- ------------------------------------Ziiadin------------------------- --> */
.our-team {
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.our-team h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.first-paragraph {
    padding: 10px;
    font-style: italic;
}

.staff {
    display: grid;
    grid-template-columns: 20%  20% 20% 20%;
    justify-content: center;
    gap: 4%;
    margin: 40px 0px 0px 0px;
}

.teammember img {
    width: 100%;
    border: 6px solid rgba(212, 208, 208, 0.527);
    border-radius: 200px;
}

.teammember h3 {
    font-size: 1.5rem;
    margin-top: 25px;
}

.teammember p {
    margin: 5px;
}

.social-media-icons i {
    background-color: black;
    color: white;
    padding: 10px;
    width: 2.3rem;
    border-radius: 50px;
    margin: 15px 5px;
}

.social-media-icons i:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.last-paragraph {
    width: 85%;
    margin: auto;
    line-height: 1.7;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .staff{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .staff{        
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

/* --------------- Aidar's part -------------- */
.card {
    background-color: white;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    display:flex;
  }
  
  .card {
    display:inline-block;
    font-size: 20px;
    padding: 20px;
    display: flex;
  }


/* Azizbek's part */

/* Contact section style */
.contact{
    box-sizing: border-box;
    height: 100vh;
    background-image: url(	https://learn.seytech.co/assets/projects/html-css/projects/1-agency/assets/img/map-image.png);
    background-color: #212529;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

.contact-wrapper{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-header h1{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 50px;
}

.contact-header p{
    color:grey;
    font-style: italic;
    margin-bottom: 40px;
    font-size: 20px;
}

.contact-form{
    display: flex;
    justify-content: space-between;
}

textarea{
    margin: 10px;
    width: 400px;
    height: 220px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
}

::placeholder{
    color: rgb(207, 201, 201);
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}

::placeholder:hover{
    border: none;
    cursor: none;
}

input[type=text], input[type=email], input[type=tel], input[type=button]{
    width: 400px;
    height: 60px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}


.contact-button{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 25px;
    font-size: 1.2em;
    background-color: #fed136;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 5px;
}

.contact-button:hover{
    cursor: pointer;
}

/* Footer */
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.social{
    display: flex;
}

.tw, .fb, .in{
    padding: 15px 17px;
    border-radius: 50%;
    background-color: #212529;
    color: white;
    margin: 10px;
}

.tw:hover{
    cursor: pointer;
}
.fb:hover{
    cursor: pointer;
}

.in:hover{
    cursor: pointer;
}

.privacy, .terms{
    text-decoration: none;
    color: #fed136;
    padding-left: 15px;
}

.terms:hover{
    text-decoration: underline;
}

.privacy:hover{
    text-decoration: underline;   
}

/* --------------Veneras part------------------ */
    .kg-map {
    
    height: 100vh;
    width: 100%;

}

.office-locations {
    position: relative;

}

.bishkek {
    position: absolute;
    top: 21.3%;
    left: 47.8%;
}

.jalal-abad {
    position: absolute;
    top: 53.4%;
    left: 35.25%;
}

.balykchy {
    position: absolute;
    top: 27.5%;
    left: 76.7%;
}

.office img {
    border: 5px solid darkgrey;
    border-radius: 15px;
}

.office i{
    color: rgb(216, 46, 34);

     /* Animation */
    animation: myScale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.office:hover .image-info-bishkek {
    display: block;
}

.office .image-info-bishkek {
    position:absolute;
    top: 0;
    left: 0;
    display:none;
}

.office:hover .image-info-jalal {
    display: block;
}


.office .image-info-jalal {
    position:absolute;
    top: 0;
    left: 0;
    display:none;

}

.office:hover .image-info-balyk {
    display: block;
}


.office .image-info-balyk {
    position:absolute;
    top: 0;
    left: 0;
    display:none;

}

.office h1 {
    text-align: center;
    color: green;
    background-color: rgb(214, 214, 214);
    border-radius: 11px;
    padding: 3px 0;
}

.text-anime {
    position: absolute;
    top: 7%;
    right: 4%;
    color: red;
    font-size: 50px;
    font-weight: bold;

/* Animation  */
    animation: myColorAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

@keyframes myColorAnimation{
    0%{color:rgb(221, 221, 92);}
    20%{color:rgb(65, 199, 65);}
    40%{color:rgb(52, 166, 211);}
    60%{color:rgb(43, 97, 214);}
    80%{color:rgb(190, 55, 179);}
    100%{color:rgb(217, 233, 146);} 
}
    
@keyframes myScale {
    50%{transform: scale(1.15, 1.15);}

}
